body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.user-account{
    text-align: center;
    width: 400px;
    margin: 1em auto;
    font-weight: 600;
    font-size: 16px;

}
.user-photo {
    width: 200px;
    height: 200px;
    margin: 0 auto 2.5em;
    border-radius: 50%;
    overflow: hidden;
    border: 16px solid hsl(244, 48%, 94%);
}

.user-photo img {
    height: 100%;
}

.user-name {
    font-size: 1em;
    margin: 0.5em;
    color: hsl(249, 33%, 34%);
}

.user-info {
    font-size: 0.75em;
    margin-bottom: 5em;
    color: hsl(196, 9%, 75%);
}

.info-separator {
    padding: 0 2px;
}

.click-message {
    text-align: center;
    font-size: 0.875em;
    width: 60%;
    color: hsl(0,0%,100%);
    background: hsl(249, 33%, 34%);
    max-width: 200px;
    padding: 0.5em 1em;
    margin: 0 auto;
    border-radius: 0.5em;
    display: block;
}

button{
    border: none;
    background: transparent;
}




    