a {
    text-decoration: none;}
input {
    background-color:hsl(245, 45%, 34%); 
    color:hsl(0, 0%, 100%); 
    border-radius: 0.25em; 
    font-size: 0.88em;
    text-align: center;
    padding: 0.25em 0.3em;}
div img {
    width: 6.5em; 
    height: 6.5em; 
    border-radius: 50%;}
h1 {
    font-size: 1em; 
    color: rgb(54, 48, 126);}
p {
    font-size: 0.75em; 
    color: hsl(246, 14%, 58%);}
a {
    height: 1.5em; 
    width: 3em; 
    outline-color: hsl(204, 70%, 53%);}
body {
    height: 13em;
    width: 13em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
 }


   

    